
.container{
    width: 80%;
    margin: 5% auto;
}

.hostelcount-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin:5% auto
}

.main-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   margin-bottom: 5%;
}

.main-body>:nth-child(1){
    width: 100%;
}

.image-container{
    border-radius: 12px;
}

.image-container img{
    border-radius: 12px;
}

/* .header{
    padding: 10px 0;
    font-size: large;
} */

h1,h2{
    text-align: center;
    font-size: large;
}


/* Media query for medium screens */
@media (max-width: 768px) {
    .hostelcount-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:30px;
        margin:5% auto
    }
  }
  
