
.container {
    width: 80%;
    margin: 5% auto;
}

.hostelcount-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 5% auto;
}

.main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 12px;
}

.img-container {
    border-radius: 12px;
    overflow: hidden; 
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

h1, h2 {
    text-align: center;
    font-size: large;
    margin: 10px 0;
}

/* Media query for medium screens */
@media (max-width: 768px) {
    .hostelcount-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
