
.container{
    width: 80%;
    margin: 5% auto;
}

.hostelcount-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin:auto
}

.main-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.main-body>:nth-child(1){
    width: 100%;
}

.image-container{
    border-radius: 12px;
}

.image-container img{
    border-radius: 12px;
}

/* .header{
    padding: 10px 0;
    font-size: large;
} */

h1,h2{
    text-align: center;
    font-size: large;
}
